<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>Model에 담긴 커맨드 객체의 정보 출력</h1>

    <!--설명: @ModelAttribute에 키값을 작성했을 경우-->
<!--    <h3 th:text="|메뉴의 이름: ${menu.name}"></h3>-->
<!--    <h3 th:text="|메뉴의 가격: ${menu.price}"></h3>-->
<!--    <h3 th:text="|메뉴의 카테고리: ${menu.categoryCode}"></h3>-->
<!--    <h3 th:text="|메뉴의 판매상태: ${menu.orderableStatus}"></h3>-->

    <!--설명: 키 값을 사용하지 않았을 경우
            커맨드 객체 타입 형태로 작성하되, 첫글자를 소문자로 작성한다.-->
    <h3 th:text="|메뉴의 이름: ${menuDTO.name}"></h3>
    <h3 th:text="|메뉴의 가격: ${menuDTO.price}"></h3>
    <h3 th:text="|메뉴의 카테고리: ${menuDTO.categoryCode}"></h3>
    <h3 th:text="|메뉴의 판매상태: ${menuDTO.orderableStatus}"></h3>
</body>
</html>