<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper"> <!--Mapper 자체의 이름을 설정해줘야 함-->
    <select id="selectNow" resultType="java.util.Date"><!--id = 호출할 이름 / resultType = 반환형-->
        SELECT NOW()
    </select>
</mapper>